html,
body {
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei',
    '微软雅黑', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

.main-container {
  margin: auto;
  width: 720px;
}

@media screen and (max-width: 750px) {
  .main-container {
    width: 100%;
  }
}

.el-form-item__label {
  margin-bottom: 0 !important;
  height: 27px !important;
}

pre {
  padding: 10px;
  background-color: #000;
  color: #fff;
  font-weight: bold;
}
