@use 'app.scss' as *;


@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: (
    'primary': (
      'base': #000,
    ),
  )
);

@use "element-plus/theme-chalk/src/index.scss" as *;